<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>조건부 렌더링</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <h1>v-if</h1>
    조건에 따라 노출 여부를 가릴 수 있음.
    <div class="result">
        <div id="example1">
            <h1 v-if="booleanValue">참이라 안보임</h1>
            <h1 v-else>거짓이라 보임</h1>
        </div>
    </div>

    <h3>&lt;template&gt;에 v-if을 갖는 조건부 그룹 만들기</h3>
    일반 태그는 하나씩 밖에 처리 못하니, 여러 태그를 묶어서 처리하고 싶으면 template 태그로 묶어서 사용...
    <div class="result">
        <div id="example2">
            <template v-if="ok">
                <h3>&lt;template&gt; 태그는 사라짐</h3>
                <div class="static">
                    <div>템플릿 태그 안의 내용이에요</div>
                </div>
            </template>
        </div>
    </div>

    <h3>v-else</h3>
    새로 고침 할 때마다 Math.random() 값에 따라 다른 것이 출력됨
    <div class="result">
        <div id="example3">
            조건 : Math.random() > 0.5
            <div v-if="Math.random() > 0.5">0.5 이상</div>
            <div v-else>0.5 미만</div>
        </div>
    </div>

    <h3>v-else-if</h3>
    선택에 따라 다른 것이 출력 됨
    <div class="result">
        <div id="example4">
            <div v-if="type === 'A'" style="background-color: royalblue">
                A
            </div>
            <div v-else-if="type === 'B'" style="background-color: lightblue">
                B
            </div>
            <div v-else-if="type === 'C'" style="background-color: aliceblue">
                C
            </div>
            <div v-else>
                Not A/B/C
            </div>
            <input id="radio_a" type="radio" v-model="type" value="A" /><label for="radio_a" >A</label>
            <input id="radio_b" type="radio" v-model="type" value="B" /><label for="radio_b" >B</label>
            <input id="radio_c" type="radio" v-model="type" value="C" /><label for="radio_c" >C</label>
            <input id="radio_e" type="radio" v-model="type" value="E" /><label for="radio_e" >E</label>
        </div>
    </div>

    <h3>key를 이용한 재사용 가능한 엘리먼트 제어</h3>
    입력란에 임의의 문자를 입력하고 버튼을 눌러 확인 가능(개발자 도구도 참고)
    <div class="result">
        <div id="example5">
            <div>
                <h4>모든 엘리먼트가 재사용됨</h4>
                <template v-if="loginType === 'username'">
                    <label>사용자 이름</label>
                    <input placeholder="사용자 이름을 입력하세요">
                </template>
                <template v-else>
                    <label>이메일</label>
                    <input placeholder="이메일 주소를 입력하세요">
                </template>
            </div>
            <div>
                <h4>key 속성이 있는 앨리먼트는 별개로 처리됨</h4>
                <template v-if="loginType === 'username'">
                    <label>사용자 이름</label>
                    <input placeholder="사용자 이름을 입력하세요" key="username-input">
                </template>
                <template v-else>
                    <label>이메일</label>
                    <input placeholder="이메일 주소를 입력하세요" key="email-input">
                </template>
            </div>
            <br/>
            <button @click="switchForm">로그인 유형 변경</button>
        </div>
    </div>

    <h1>v-show</h1>
    v-if와는 다르게 v-show는 항상 html로 렌더링은 하지만, 조건이 맞지 않으면 해당 엘리먼트를 숨긴다.<br/>
    &lt;template&gt; 태그와 같이 쓰지 못하며 v-else도 사용하지 못함.
    <div class="result">
        <div id="example6">
            <h1 v-show="ok">보인다</h1>
            <button @click="toggle">토글</button>
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script>
    (function () {
        var v1 = new Vue({
            el: '#example1',
            data : function () {
                return {
                    booleanValue: false
                }
            }
        });

        Vue.component('my-component', {
            template: '<div class="static">Hi</div>'
        });
        new Vue({
            el: '#example2',
            data: {
                ok: true
            }
        });

        var v3 = new Vue({
            el: '#example3',
            data: {
                color: 'steelblue',
                border: '1pt silver solid',
                styleObject: {
                    'text-size' : '15px',
                    color: 'royalblue'
                }
            }
        });

        v3.lastName = 'Go';

        var v4 = new Vue({
            el: '#example4',
            data: function () {
                return {
                    type: 'A'
                }
            },
            computed: {
                fullName: {
                    get: function () {
                        return this.firstName + ' ' + this.lastName;
                    },
                    set: function (newValue) {
                        var names = newValue.split(' ');
                        this.firstName = names[0];
                        this.lastName = names[names.length - 1];
                    }
                }
            }
        });

        new Vue({
            el: '#example5',
            data: {
                loginType: 'username'
            },
            methods: {
                switchForm: function () {
                    this.loginType = this.loginType === 'username' ? 'email' : 'username'
                }
            }
        });
        new Vue({
            el: '#example6',
            data: {
                ok: true
            },
            methods: {
                toggle: function () {
                    this.ok = !this.ok
                }
            }
        });
    })()
</script>
</html>
